*{
    margin: 10px;
}

body{
    margin-top: 30px;
    background-image: url('/images/body.jpg');
    background-attachment: fixed;
}

#sBody{
    text-align: center;
}

#sBody textarea{
    opacity: 0.4;
}

#subscribe{
    margin-top: 20px;
    margin-bottom: 15px;
    width: 80px;
    height: 20px;
    background:url(../images/submit.jpg);
} 
